<div>
  <input #owner type="text">
  <button (click)="getBalance(owner.value)">Get Balance</button>
  <span class="balance">
    Saldo de {{owner.value}}: R${{value}}
  </span>
</div>

<br>    
    
<table class="table table-hover"> 
  <thead>
    <tr>
      <th id="indexID" scope="col">Index</th>
      <th id="hashID" scope="col">Hash</th>
      <th id="transID" scope="col">Transaction</th>
    </tr>
  </thead>
  <!-- <tbody>
    <tr>
      <th scope="row"> {{block.index}}</th>
      <td>{{block.hash}}</td>
      <td>{{block.transactions}}</td>
    </tr>
  </tbody> -->
</table>
