<table class="table table-hover" style="width:100%"> 
  <!-- <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Hash</th>
      <th scope="col">Transaction</th>
    </tr>
  </thead> -->
  <tbody>
    <tr>
      <th id="indexID" scope="row"> {{block.index}}</th>
      <td id="hashID" >{{block.hash}}</td>
      <td id="transID" >{{block.transactions.length}}</td>
    </tr>
  </tbody>
  
</table>

  <!-- <div>
    <ul>
      <li>Index: {{block.index}}</li>
      <li>Hash: {{block.hash}}</li>
      <li>Transaction: </li>
    </ul>
  </div> -->



