<table class="table table-hover"> 
  <!-- <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Hash</th>
      <th scope="col">Transaction</th>
    </tr>
  </thead> -->
  <tbody>
    <tr>
      <th scope="row"> {{block.index}}</th>
      <td>{{block.hash}}</td>
      <td>{{block.transactions}}</td>
    </tr>
  </tbody>
  
</table>
  
  <!-- <div>
    <ul>
      <li>Index: {{block.index}}</li>
      <li>Hash: {{block.hash}}</li>
      <li>Transaction: </li>
    </ul>
  </div> -->



