.valid{
    color: red;
    text-align: center;
}
.invalid{
    color: green;
    text-align: center;
}

*{
    text-align: justify;
}


#IDTrans{
    text-align: right;
    box-align: right;
}

#h2ID{
    width: 20%;
    height:20px;
}

#IDTrans{
    text-align: right;
}